.dogImage {
  width: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgb(40, 40, 40);
  text-align: center;
}

.card span {
  margin-bottom: 10px;
}
