.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  background-image: url("../../images/landing-image.jpg");
  background-size: 1200px;
  background-position: center;
}

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 20px;
  color: rgb(98, 98, 98);
}

.beginBtn {
  border: none;
  border-radius: 15px;
  padding: 10px 10px;
  background-color: rgb(109, 109, 109);
  color: rgb(255, 255, 255);
}

.beginBtn:hover {
  background-color: rgb(0, 160, 160);
  cursor: pointer;
}
